@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
body{
  background-color: #f1f3f4;
  font-family: 'Inconsolata', monospace;
}
h3{
  text-align: center;
}
.row{
  margin-bottom: 20px;
}
.card{
  background-color: white;
  width: 100%;
  height: 120px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}
.cardIcon{
  width: 80px;
  height: 80px;
  position: absolute;
  top: -20px;
  border-radius: 10px;
}
.cardIcon i{
  color: white;
  font-size: 30pt;
  margin-top: 20px;
  margin-left: 22px;
}
.cardValor{
  padding-left: 50px;
  text-align: right;
  margin-bottom: 10px;
  height: 80px;
}
.cardValor p{
  margin: 0px;
  padding: 0px;
}
.cardTexto{
  font-size: 14pt;
}
.cardTexto p{
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .card{
    margin-bottom: 30px;
  }
}